<div class="row">
  <div class="col-xs-3">
    <p class="help-block">Alinhe junto ao seu time de vendas quais as propriedades que melhor representam um Lead pronto para venda.</p>
    <p class="help-block">Você também pode utilizar os dados do <%= link_to "Marketing BI", "" %> para descobrir os termos mais relevantes entre os seus clientes para cada propriedade.</p>
  </div>
  <div class="col-xs-9">
    <form class="form-inline">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row row-nogutter">
            <div class="col-xs-9">
              <h3 class="panel-title">Grupos de pontuação</h3>
            </div>
            <div class="col-xs-3 text-right">
              <button type="button" class="panel-heading-btn popover-info" data-toggle="modal" data-target="#modalHelpProperty"></button>
            </div>
          </div>
        </div>
        <ul class="list-group">
          <li class="list-group-item data-group">
            <div class="row">
              <div class="col-xs-8">
                <h4 class="data-title"><a href="#" data-toggle="modal" data-target="#modalProperty">ToFu</a></h4>
              </div>
              <div class="col-xs-4 text-right">
                <span class="data-value">5 <small>pontos</small></span>
              </div>
            </div>
          </li>
          <li class="list-group-item data-group">
            <div class="row">
              <div class="col-xs-8">
                <h4 class="data-title"><a href="#" data-toggle="modal" data-target="#modalProperty">MoFu</a>
              </div>
              <div class="col-xs-4 text-right">
                <span class="data-value">10 <small>pontos</small></span>
              </div>
            </div>
          </li>
          <li class="list-group-item data-group">
            <div class="row">
              <div class="col-xs-8">
                <h4 class="data-title"><a href="#" data-toggle="modal" data-target="#modalProperty">BoFu</a></h4>
              </div>
              <div class="col-xs-4 text-right">
                <span class="data-value">25 <small>pontos</small></span>
              </div>
            </div>
          </li>
          <li class="list-group-item data-group">
            <div class="row">
              <div class="col-xs-8">
                <h4 class="data-title"><a href="#" data-toggle="modal" data-target="#modalProperty">Levantadas de mão</a>
              </div>
              <div class="col-xs-4 text-right">
                <span class="data-value">75 <small>pontos</small></span>
              </div>
            </div>
          </li>
        </ul>
        <div class="panel-footer text-left">
          <a href="#" class="btn-height-sm" data-toggle="modal" data-target="#modalProperty"><i class="xicon-plus"></i> Adicionar propriedade</a>
        </div>
      </div>
    </form>
  </div>
</div>

<%= render :partial => 'lead_scoring/add_convertion' %>

<% content_for :actions_footer do %>
<div class="actions-footer">
  <div class="container">
    <%= link_to "Voltar", lead_scoring_rules_fit_path, :class => 'btn btn-link pull-left' %>
    <%= link_to "Descartar alterações", lead_scoring_rules_interest_path, :class => 'btn btn-link' %>
    <%= link_to "Salvar", lead_scoring_rules_interest_path, :class => 'btn btn-default' %>
    <%= link_to "Salvar e sair", lead_scoring_index_path, :class => 'btn btn-primary' %>
  </div>
</div>
<% end %>
