<div class="row">
  <div class="col-xs-3">
    <p class="help-block">Alinhe junto ao seu time de vendas quais as propriedades que melhor representam um Lead pronto para venda.</p>
    <p class="help-block">Você também pode utilizar os dados do <%= link_to "Marketing BI", "" %> para descobrir os termos mais relevantes entre os seus clientes para cada propriedade.</p>
  </div>
  <div class="col-xs-9">
    <form class="form-inline">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <h3 class="panel-title">Propriedade</h3>
            </div>
            <div class="col-xs-4">
              <h3 class="panel-title">Peso</h3>
            </div>
            <div class="col-xs-2 text-right">
              <button type="button" class="panel-heading-btn popover-info" data-toggle="modal" data-target="#modalHelpProperty"></button>
            </div>
          </div>
        </div>
        <div class="list-group">
          <div class="list-group-item">
            <div class="row">
              <div class="col-xs-6">
                <a href="#" class="slider-title" data-toggle="modal" data-target="#modalProperty">Cargo</a>
              </div>
              <div class="col-xs-6">
                <div class="range-slider-group">
                  <div class="range-slider-input">
                    <input type="range" min="0" max="100" step="1" value="80">
                  </div>
                  <div class="range-slider-value">
                    <span class="slider-value"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="list-group-item">
            <div class="row">
              <div class="col-xs-6">
                <a href="#" class="slider-title" data-toggle="modal" data-target="#modalProperty">Segmento</a>
              </div>
              <div class="col-xs-6">
                <div class="range-slider-group">
                  <div class="range-slider-input">
                    <input type="range" min="0" max="100" step="1" value="10">
                  </div>
                  <div class="range-slider-value">
                    <span class="slider-value"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="list-group-item">
            <div class="row">
              <div class="col-xs-6">
                <a href="#" class="slider-title" data-toggle="modal" data-target="#modalProperty">Tamanho (colaboradores)</a>
              </div>
              <div class="col-xs-6">
                <div class="range-slider-group">
                  <div class="range-slider-input">
                    <input type="range" min="0" max="100" step="1" value="11">
                  </div>
                  <div class="range-slider-value">
                    <span class="slider-value"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer text-left">
          <div class="row">
            <div class="col-xs-6">
              <a href="#" class="btn-height-sm" data-toggle="modal" data-target="#modalProperty"><i class="xicon-plus"></i> Adicionar propriedade</a>
            </div>
            <div class="col-xs-6 text-right">
              <span class="btn-height-sm slider-value-total">Total: <span class="text-danger">101%</span></span>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<%= render :partial => 'lead_scoring/add_property' %>

<%= render :partial => 'lead_scoring/modal_help' %>

<% content_for :actions_footer do %>
<div class="actions-footer">
  <div class="container">
    <%= link_to "Voltar", lead_scoring_index_path, :class => 'btn btn-link pull-left' %>
    <%= link_to "Descartar alterações", lead_scoring_rules_fit_path, :class => 'btn btn-link' %>
    <%= link_to "Salvar", lead_scoring_rules_fit_path, :class => 'btn btn-default' %>
    <%= link_to "Salvar e avançar", lead_scoring_rules_interest_path, :class => 'btn btn-primary' %>
  </div>
</div>
<% end %>
