<% content_for :pagetitle do %>
  DataGroup CSS Component
<% end %>

<% content_for :pagesubtitle do %>
  <div class="row">
    <div class="col-xs-9">
      <h2><span class="text-muted">Exemplo</span> <span class="showactive">automacao-de-marketing</span></h2>
    </div>
    <div class="col-xs-3 action-header">
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          escolha o exemplo <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li class="active"><a class="trigger-choose-version" href="#" data-target="automacao-de-marketing">automação de marketing</a></li>
          <li><a class="trigger-choose-version" href="#" data-target="base-de-leads">base de leads</a></li>
          <li><a class="trigger-choose-version" href="#" data-target="campanhas">campanhas</a></li>
          <li><a class="trigger-choose-version" href="#" data-target="landing-page">landing page</a></li>
          <li><a class="trigger-choose-version" href="#" data-target="lead-scoring-fit">lead scoring - perfil</a></li>
          <li><a class="trigger-choose-version" href="#" data-target="lead-scoring-home">lead scoring - home</a></li>
          <li><a class="trigger-choose-version" href="#" data-target="lead-scoring-interest">lead scoring - interesse</a></li>
          <li><a class="trigger-choose-version" href="#" data-target="marketing-bi-campanhas">marketing bi - campanhas</a></li>
          <li><a class="trigger-choose-version" href="#" data-target="marketing-bi-canais-de-aquisicao">marketing bi - canais de aquisição</a></li>
          <li><a class="trigger-choose-version" href="#" data-target="marketing-bi-negocios-planejamento">marketing bi - negócios/planejamento</a></li>
          <li><a class="trigger-choose-version" href="#" data-target="marketing-bi-negocios-resultados">marketing bi - negócios/resultados</a></li>
          <li><a class="trigger-choose-version" href="#" data-target="painel-de-palavras-chave">painel de palavras chave</a></li>
        </ul>
      </div>
    </div>
  </div>
<% end %>

<div class="mayhideshow automacao-de-marketing">
<%= render :partial => 'data_group/automacao-de-marketing' %>
</div>
<div class="mayhideshow base-de-leads hide">
<%= render :partial => 'data_group/base-de-leads' %>
</div>
<div class="mayhideshow campanhas hide">
<%= render :partial => 'data_group/campanhas' %>
</div>
<div class="mayhideshow landing-page hide">
<%= render :partial => 'data_group/landing-page' %>
</div>
<div class="mayhideshow lead-scoring-fit hide">
<%= render :partial => 'data_group/lead-scoring-fit' %>
</div>
<div class="mayhideshow lead-scoring-home hide">
<%= render :partial => 'data_group/lead-scoring-home' %>
</div>
<div class="mayhideshow lead-scoring-interest hide">
<%= render :partial => 'data_group/lead-scoring-interest' %>
</div>
<div class="mayhideshow marketing-bi-canais-de-aquisicao hide">
<%= render :partial => 'data_group/marketing-bi-canais-de-aquisicao' %>
</div>
<div class="mayhideshow marketing-bi-negocios-planejamento hide">
<%= render :partial => 'data_group/marketing-bi-negocios-planejamento' %>
</div>
<div class="mayhideshow marketing-bi-negocios-resultados hide">
<%= render :partial => 'data_group/marketing-bi-negocios-resultados' %>
</div>
<div class="mayhideshow painel-de-palavras-chave hide">
<%= render :partial => 'data_group/painel-de-palavras-chave' %>
</div>

<% content_for :footer do %>
<script type="text/javascript">
  $(function(){
    $('.trigger-choose-version').live('click', function(){
      $('.mayhideshow').addClass('hide');
      var idPanelPlanning = $(this).data('target');
      $('.trigger-choose-version').parent().removeClass('active');
      $(this).parent().addClass('active');
      $('.'+idPanelPlanning).removeClass('hide');
      $('.showactive').html(idPanelPlanning);
    });
  });
</script>
<% end %>
