<% content_for :header do %>
  <%= stylesheet_link_tag 'lead_scoring' %>
<% end %>

<% content_for :pagetitle do %>
  <%= link_to "Lead Scoring", lead_scoring_index_path %>
<% end %>

<% content_for :pagesubtitle do %>
  <h2>Editar</h2>
<% end %>

<% content_for :content do %>
  <div class="container">
    <%= render :partial => 'lead_scoring/rules_navbar' %>
    <%= yield %>
  </div>
  <%= yield :actions_footer %>
<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag "lead_scoring", async: true %>
<% end %>

<%= render :template => "layouts/application" %>
