<!DOCTYPE html>
<html>
<head>
	<%= render :partial => 'layouts/header' %>
	<%= yield :head %>
</head>
<body>
	<%= render :partial => 'layouts/navbar' %>
	<section id="content">
		<%= render :partial => 'layouts/page_header' %>
		<%= content_for?(:content) ? yield(:content) : yield  %>
	</section>
	<%= render :partial => 'layouts/footer' %>
	<div id="flash">
		<%= render :partial => 'layouts/flash', :locals => { :flash => flash } %>
	</div>
</body>
</html>
